page-test {

    // ion-content {
    //     background: #b49f77 !important;
    // }

    .bg {
        background-image: url("../assets/imgs/img1.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-size: 140%;
    }

    button {
        top: 35px;
    }
}



